{% load static %}
{% load my_tags %}
<!doctype html>
<html lang="en">

<head>
    <title>DB2020 | Message</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Final homework of DB2020">
    <meta name="author" content="DB2020">

    <link rel="icon" href="{% static 'favicon.png' %}" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/animate-css/vivify.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/toastr/toastr.min.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/site.css' %}">

</head>
<body class="theme-blush">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="{% static 'assets/images/icon.svg' %}" width="40" height="40" alt="Brego"></div>
        <p>Please wait...</p>
    </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay"></div>

<div id="wrapper">

    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-left">
                <div class="navbar-btn">
                    <a href="{% url 'main' %}"><img src="{% static 'assets/images/icon.svg' %}" alt="Brego Logo"
                                              class="img-fluid logo"></a>
                    <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
                </div>
            </div>

            <div class="navbar-right">
                <div id="navbar-menu">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'sign_out' %}" class="icon-menu"><i class="icon-power"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>


    <div id="left-sidebar" class="sidebar">
        <div class="navbar-brand">
            <a href="{% url 'main' %}"><img src="{% static 'assets/images/icon.svg' %}" alt="Brego Logo"
                                      class="img-fluid logo"><span>DB2020</span></a>
            <button type="button" class="btn-toggle-offcanvas btn btn-sm float-right"><i
                    class="lnr lnr-menu fa fa-chevron-circle-left"></i></button>
        </div>
        <div class="sidebar-scroll">
            <div class="user-account">
                <div class="user_div">
                    <img class="gravatar" src="{{ request.user.email|gravatar_url:50}}" />
                </div>
                <div class="dropdown">
                    <span>Welcome,</span>
                    <a class="user-name"><strong>{{ request.user.username }}</strong></a>
                </div>
            </div>
            <nav id="left-sidebar-nav" class="sidebar-nav">
                <ul id="main-menu" class="metismenu">
                    <li class="header">Notification</li>
                    <li><a href="{% url 'mesg_list' %}"><i class="icon-envelope"></i> <span>Message</span>
                        {% if mesg_num != 0 %}
                        <span class="badge badge-default float-right mr-0">{{ mesg_num }}</span>
                        {% endif %}
                    </a></li>
                    <li class="header">Groups</li>
                    <li><a href="{% url 'group_list' %}"><i class="icon-users"></i> <span>All Groups</span></a></li>
                    <li class="header">Experiments</li>
                    <li><a href="{% url 'exps_list' %}"><i class=" icon-chemistry"></i> <span>Experiments</span></a></li>
                    <li><a href="{% url 'diff_list' %}"><i class="icon-bar-chart"></i> <span>Comparisons</span></a></li>
                    <li><a href="/new_diff"><i class="icon-directions"></i> <span>Create Comparison</span></a></li>
                </ul>
            </nav>
        </div>
    </div>


    <div id="main-content">
        <div class="container-fluid">
            <div class="clearfix">
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="body">
                            <ul class="nav nav-tabs">
                                <li class="nav-item">
                                    <a class="nav-link active show" data-toggle="tab" href="#Applicant">
                                        Applicants
                                        {% if n_ap_in != 0 %}
                                            <span class="badge bg-cyan">{{ n_ap_in }}</span>
                                        {% endif %}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#Issues">
                                        Issues
                                        {% if n_is_in != 0 %}
                                            <span class="badge bg-cyan">{{ n_is_in }}</span>
                                        {% endif %}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#ApplicantReply">
                                        Applicant-Reply
                                        {% if n_ap_out != 0 %}
                                            <span class="badge bg-cyan">{{ n_ap_out }}</span>
                                        {% endif %}
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#IssuesReply">
                                        Issue-Reply
                                        {% if n_is_out != 0 %}
                                            <span class="badge bg-cyan">{{ n_is_out }}</span>
                                        {% endif %}
                                    </a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane show vivify fadeIn active" id="Applicant">
                                    <div class="body">
                                        <div class="row clearfix">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="accordion" id="a-applicant">
                                                    {% if ap_in %}
                                                        {% for ap in ap_in %}
                                                            <div>
                                                                <div class="card-header">
                                                                    <h5 class="md-0">
                                                                        <button class="btn btn-link" type="button"
                                                                            data-toggle="collapse"
                                                                            data-target="#aci-{{ ap.id }}" aria-expanded="false"
                                                                            aria-controls="aci-{{ ap.id }}">
                                                                            {% if ap.status == 0 %}
                                                                                <span class="badge bg-blue"> </span>
                                                                            {% else %}
                                                                                <span class="badge bg-clear"> </span>
                                                                            {% endif %}
                                                                            {{ ap.create_user_name }} applied to join {{ ap.target_group_name }}
                                                                        </button>
                                                                    </h5>
                                                                </div>
                                                                <div id="aci-{{ ap.id }}" class="collapse"
                                                                    aria-labelledby="headingOne" data-parent="#a-applicant">
                                                                    <div class="card-body row clearfix">
                                                                        <div class="col-lg-10">
                                                                            {{ ap.info }}
                                                                            <hr>
                                                                            <small class="text-black-50">
                                                                                {{ ap.create_user_name }} / {{ create_user_email }}
                                                                                <br>
                                                                                {{ ap.create_user_info }}
                                                                            </small>
                                                                        </div>
                                                                        <div class="col-lg-2 align-center">
                                                                            {% if ap.status == 0 %}
                                                                                <a href="{% url 'mesg_ans_app' ap.id 1 %}"><button class="btn btn-success btn-round">
                                                                                    Accept
                                                                                </button></a>
                                                                                <br>
                                                                                <a href="{% url 'mesg_ans_app' ap.id 0 %}"><button class="btn btn-danger btn-round">
                                                                                    Refuse
                                                                                </button></a>
                                                                            {% elif ap.reply %}
                                                                                <a href=""><button class="btn btn-success btn-round" disabled="disabled">
                                                                                    Accepted
                                                                                </button></a>
                                                                            {% else %}
                                                                                <a href=""><button class="btn btn-danger btn-round" disabled="disabled">
                                                                                    Refused
                                                                                </button></a>
                                                                            {% endif %}
                                                                        </div>
                                                                        <div class="col-lg-12"><hr></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    {% else %}
                                                        <div class="text-info">You Do Not Have Any Applicant To Handle.</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane vivify fadeIn" id="Issues">
                                    <div class="body">
                                        <div class="row clearfix">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="accordion" id="a-issue">
                                                    {% if is_in %}
                                                        {% for iss in is_in %}
                                                            <div>
                                                                <div class="card-header">
                                                                    <h5 class="md-0">
                                                                        <button class="btn btn-link" type="button"
                                                                            data-toggle="collapse"
                                                                            data-target="#isi-{{ iss.id }}" aria-expanded="false"
                                                                            aria-controls="isi-{{ iss.id }}">
                                                                            {% if iss.status == 0 %}
                                                                                <span class="badge bg-blue"> </span>
                                                                            {% else %}
                                                                                <span class="badge bg-clear"> </span>
                                                                            {% endif %}
                                                                            Question from: {{ iss.create_user_name }}
                                                                        </button>
                                                                    </h5>
                                                                </div>
                                                                <div id="isi-{{ iss.id }}" class="collapse"
                                                                    aria-labelledby="headingOne" data-parent="#a-issue">
                                                                    <div class="card-body row clearfix">
                                                                        <div class="col-lg-12">
                                                                            {{ iss.info }}
                                                                            <hr>
                                                                            <small class="text-black-50">
                                                                                {{ iss.target_update_info }}
                                                                            </small>
                                                                            <hr>
                                                                        </div>
                                                                        <div class="col-lg-12">
                                                                            {% if iss.status == 0 %}
                                                                            <form id="issue_in" action="{% url 'mesg_ans_iss' iss.id %}" method="post" >
                                                                                {% csrf_token %}
                                                                                <div class="form-group">
                                                                                    <label>Answer</label>
                                                                                    <textarea class="form-control-plaintext" rows="5" cols="30"
                                                                                        required="required" name="input_answer">Your answer here.</textarea>
                                                                                </div>
                                                                                <button type="submit" class="btn btn-info btn-round">
                                                                                    Submit
                                                                                </button>
                                                                            </form>
                                                                            {% else %}
                                                                                <label>Answer</label>
                                                                                <div>{{ iss.answer_info }}</div>
                                                                                <div>{{ iss.answer_date }}</div>
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    {% else %}
                                                        <div class="text-info">You Do Not Have Any Issue To Handle.</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane vivify fadeIn" id="ApplicantReply">
                                    <div class="body">
                                        <div class="row clearfix">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="accordion" id="a-appreply">
                                                    {% if ap_out %}
                                                        {% for ap in ap_out %}
                                                            <div>
                                                                <div class="card-header">
                                                                    <h5 class="md-0">
                                                                        <button class="btn btn-link" type="button"
                                                                            data-toggle="collapse"
                                                                            data-target="#apo-{{ ap.id }}" aria-expanded="false"
                                                                            aria-controls="apo-{{ ap.id }}">
                                                                            {% if ap.status == 1 %}
                                                                                <span class="badge bg-blue"> </span>
                                                                            {% else %}
                                                                                <span class="badge bg-clear"> </span>
                                                                            {% endif %}
                                                                            Applicant to join {{ ap.target_group_name }}
                                                                        </button>
                                                                    </h5>
                                                                </div>
                                                                <div id="apo-{{ ap.id }}" class="collapse"
                                                                    aria-labelledby="headingOne" data-parent="#a-appreply">
                                                                    <div class="card-body row clearfix">
                                                                        <div class="col-lg-10">
                                                                            {{ ap.info }}
                                                                            <hr>
                                                                            <small class="text-black-50">
                                                                                {{ ap.create_date }}
                                                                            </small>
                                                                        </div>
                                                                        <div class="col-lg-2 align-center">
                                                                            {% if ap.status == 0 %}
                                                                                <button class="btn btn-info btn-round" disabled="disabled">
                                                                                    None
                                                                                </button>
                                                                            {% else %}
                                                                                {% if ap.reply %}
                                                                                    <button class="btn btn-success btn-round" disabled="disabled">
                                                                                        Accepted
                                                                                    </button>
                                                                                {% else %}
                                                                                    <button class="btn btn-danger btn-round" disabled="disabled">
                                                                                        Refused
                                                                                    </button>
                                                                                {% endif %}
                                                                                {% if ap.status == 1 %}
                                                                                <br>
                                                                                <a href="{% url 'mesg_read_app' ap.id %}">
                                                                                    <button class="btn btn-info btn-round">
                                                                                        Mark Read
                                                                                </button></a>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        </div>
                                                                        <div class="col-lg-12">
                                                                            <hr>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    {% else %}
                                                        <div class="text-info">You have not sent any applicant.</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane vivify fadeIn" id="IssuesReply">
                                    <div class="body">
                                        <div class="row clearfix">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="accordion" id="a-issreply">
                                                    {% if is_out %}
                                                        {% for iss in is_out %}
                                                            <div>
                                                                <div class="card-header">
                                                                    <h5 class="md-0">
                                                                        <button class="btn btn-link" type="button"
                                                                            data-toggle="collapse"
                                                                            data-target="#iso-{{ iss.id }}" aria-expanded="false"
                                                                            aria-controls="iso-{{ iss.id }}">
                                                                            {% if iss.status == 1 %}
                                                                                <span class="badge bg-blue"> </span>
                                                                            {% else %}
                                                                                <span class="badge bg-clear"> </span>
                                                                            {% endif %}
                                                                            Question to UPDATE #{{ iss.target_update__id }}
                                                                        </button>
                                                                    </h5>
                                                                </div>
                                                                <div id="iso-{{ iss.id }}" class="collapse"
                                                                    aria-labelledby="headingOne" data-parent="#a-issreply">
                                                                    <div class="card-body row clearfix">
                                                                        <div class="col-lg-12">
                                                                            {{ iss.info }}
                                                                            <hr>
                                                                            <small class="text-black-50">
                                                                                   Update Info: {{ iss.target_update_info }}
                                                                            </small>
                                                                            <hr>
                                                                        </div>
                                                                        <div class="col-lg-10">
                                                                            {% if iss.status == 0 %}
                                                                                <div>Haven't been answered.</div>
                                                                            {% else %}
                                                                                <label>Answer</label>
                                                                                <div>{{ iss.answer_info }}</div>
                                                                                <div>{{ iss.answer_date }}</div>
                                                                            {% endif %}
                                                                        </div>
                                                                        <div class="col-lg-2">
                                                                            {% if iss.status == 1 %}
                                                                            <a href="{% url 'mesg_read_iss' iss.id %}">
                                                                                <button class="btn btn-info btn-round">
                                                                                Mark Read
                                                                            </button></a>
                                                                            {% endif %}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    {% else %}
                                                        <div class="text-info">You Have Not Sent Any Issue.</div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Javascript -->
<script src="{% static 'assets/bundles/libscripts.bundle.js' %}"></script>
<script src="{% static 'assets/bundles/vendorscripts.bundle.js' %}"></script>
<script src="{% static 'assets/bundles/mainscripts.bundle.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'assets/vendor/toastr/toastr.js' %}"></script>
<script>
    $(function () {
        // (Optional) Active an item if it has the class "is-active"
        $(".accordion2 > .accordion-item.is-active").children(".accordion-panel").slideDown();

        $(".accordion2 > .accordion-item").click(function () {
            // Cancel the siblings
            $(this).siblings(".accordion-item").removeClass("is-active").children(".accordion-panel").slideUp();
            // Toggle the item
            $(this).toggleClass("is-active").children(".accordion-panel").slideToggle("ease-out");
        });
    });
</script>

{% if warning %}
    {% if w_type is 1 %}
        <script>
        $(function(){
            toastr.options.closeButton = true;
            toastr.options.positionClass = 'toast-bottom-right';
            toastr.options.showDuration = 2000;
            toastr['success']('{{warning}}');
        });
        </script>
    {% else %}
        <script>
        $(function(){
            toastr.options.closeButton = true;
            toastr.options.positionClass = 'toast-bottom-right';
            toastr.options.showDuration = 2000;
            toastr['error']('{{warning}}');
        });
        </script>
    {% endif %}
{% endif %}

</body>
</html>
