{% load static %}
{% load my_tags %}
<!doctype html>
<html lang="en">

<head>
<title>DB2020 | Group List</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Final homework of DB2020">
<meta name="author" content="DB2020">

<link rel="icon" href="{% static 'favicon.png' %}" type="image/x-icon">
<!-- VENDOR CSS -->
<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/animate-css/vivify.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/toastr/toastr.min.css' %}">

<!-- MAIN CSS -->
<link rel="stylesheet" href="{% static 'assets/css/site.css' %}">

</head>

<body class="theme-blush">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="{% static 'assets/images/icon.svg' %}" width="40" height="40" alt="Brego"></div>
        <p>Please wait...</p>
    </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay"></div>

<div id="wrapper">

    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-left">
                <div class="navbar-btn">
                    <a href="{% url 'main' %}"><img src="{% static 'assets/images/icon.svg' %}" alt="Brego Logo"
                                              class="img-fluid logo"></a>
                    <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
                </div>
            </div>

            <div class="navbar-right">
                <div id="navbar-menu">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'sign_out' %}" class="icon-menu"><i class="icon-power"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>


    <div id="left-sidebar" class="sidebar">
        <div class="navbar-brand">
            <a href="{% url 'main' %}"><img src="{% static 'assets/images/icon.svg' %}" alt="Brego Logo"
                                      class="img-fluid logo"><span>DB2020</span></a>
            <button type="button" class="btn-toggle-offcanvas btn btn-sm float-right"><i
                    class="lnr lnr-menu fa fa-chevron-circle-left"></i></button>
        </div>
        <div class="sidebar-scroll">
            <div class="user-account">
                <div class="user_div">
                    <img class="gravatar" src="{{ request.user.email|gravatar_url:50}}" />
                </div>
                <div class="dropdown">
                    <span>Welcome,</span>
                    <a class="user-name"><strong>{{ request.user.username }}</strong></a>
                </div>
            </div>
            <nav id="left-sidebar-nav" class="sidebar-nav">
                <ul id="main-menu" class="metismenu">
                    <li class="header">Notification</li>
                    <li><a href="{% url 'mesg_list' %}"><i class="icon-envelope"></i> <span>Message</span>
                        {% if mesg_num != 0 %}
                        <span class="badge badge-default float-right mr-0">{{ mesg_num }}</span>
                        {% endif %}
                    </a></li>
                    <li class="header">Groups</li>
                    <li><a href="{% url 'group_list' %}"><i class="icon-users"></i> <span>All Groups</span></a></li>
                    <li class="header">Experiments</li>
                    <li><a href="{% url 'exps_list' %}"><i class=" icon-chemistry"></i> <span>Experiments</span></a></li>
                    <li><a href="{% url 'diff_list' %}"><i class="icon-bar-chart"></i> <span>Comparisons</span></a></li>
                    <li><a href="/new_diff"><i class="icon-directions"></i> <span>Create Comparison</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div id="main-content">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-md-6 col-sm-12">
                    <h2>Group</h2>
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <div class="row clealfix">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2>All Groups</h2>
                        </div>
                        <div class="body">
                            <div class="list-group">
                                {% if group_list %}
                                    {% for group_info in group_list %}
                                    <a href="{% url 'group' group_info.0 %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">GROUP: {{ group_info.1 }}</h5>
                                        <small class="text-muted">No. {{ group_info.0 }}</small>
                                        </div>
                                        <p class="mb-1">INFO: {{ group_info.2 }}</p>
                                    </a>
                                    {% endfor %}
                                {% else %}
                                    <a class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">You Are Not In Any Group</h5>
                                    </div>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Create New Group</h2>
                </div>
                <div class="body">
                    <form id="basic-form" action="{% url 'group_create' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Group Name</label>
                            <label>
                                <input type="text" name="name" datatype="s1-30"
                                       aria-errormessage="Please input a name for the group, which should be less than 30 characters."
                                       class="form-control" required>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Group Info</label>
                            <textarea class="form-control-plaintext" rows="5" cols="30"
                                      required="required" name="info">Information of the group.</textarea>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary btn-round">Create</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h2>Join New Group</h2>
                </div>
                <div class="body">
                    <form id="basic-form" action="{% url 'group_apply' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Group ID</label>
                            <label>
                                <input type="number" name="gid" datatype="s1-30"
                                       aria-errormessage="Needed."
                                       class="form-control" required>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Apply Info</label>
                            <textarea class="form-control-plaintext" rows="5" cols="30"
                                      required="required" name="apply_info">Information you want to give the group group owner.</textarea>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary btn-round">Apply</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Javascript -->
<script src="{% static 'assets/bundles/libscripts.bundle.js' %}"></script>
<script src="{% static 'assets/bundles/vendorscripts.bundle.js' %}"></script>
<script src="{% static 'assets/bundles/mainscripts.bundle.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js' %}"></script>
<script src="{% static 'assets/vendor/toastr/toastr.js' %}"></script>

<!--notification popup-->
{% if warning %}
    {% if w_type is 1 %}
        <script>
        $(function(){
            toastr.options.closeButton = true;
            toastr.options.positionClass = 'toast-bottom-right';
            toastr.options.showDuration = 2000;
            toastr['success']('{{warning}}');
        });
        </script>
    {% else %}
        <script>
        $(function(){
            toastr.options.closeButton = true;
            toastr.options.positionClass = 'toast-bottom-right';
            toastr.options.showDuration = 2000;
            toastr['error']('{{warning}}');
        });
        </script>
    {% endif %}
{% endif %}

</body>
</html>
