{% load static %}
<!doctype html>
<html lang="en">

<head>
<title>DB2020 | Comparisons</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Final homework of DB2020">
<meta name="author" content="DB2020">

<link rel="icon" href="{% static 'favicon.png' %}" type="image/x-icon">
<!-- VENDOR CSS -->
<link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/animate-css/vivify.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendor/toastr/toastr.min.css' %}">

<!-- MAIN CSS -->
<link rel="stylesheet" href="{% static 'assets/css/site.css' %}">

</head>
<body class="theme-blush">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="{% static 'assets/images/icon.svg' %}" width="40" height="40" alt="Brego"></div>
        <p>Please wait...</p>
    </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay"></div>

<div id="wrapper">

    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-left">
                <div class="navbar-btn">
                    <a href="{% url 'main' %}"><img src="{% static 'assets/images/icon.svg' %}" alt="Brego Logo"
                                              class="img-fluid logo"></a>
                    <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
                </div>
            </div>

            <div class="navbar-right">
                <div id="navbar-menu">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'sign_out' %}" class="icon-menu"><i class="icon-power"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>


    <div id="left-sidebar" class="sidebar">
        <div class="navbar-brand">
            <a href="{% url 'main' %}"><img src="{% static 'assets/images/icon.svg' %}" alt="Brego Logo"
                                      class="img-fluid logo"><span>DB2020</span></a>
            <button type="button" class="btn-toggle-offcanvas btn btn-sm float-right"><i
                    class="lnr lnr-menu fa fa-chevron-circle-left"></i></button>
        </div>
        <div class="sidebar-scroll">
            <div class="user-account">
                <div class="user_div">
                    <img src="https://via.placeholder.com/140x140" class="user-photo" alt="User Profile Picture">
                </div>
                <div class="dropdown">
                    <span>Welcome,</span>
                    <a class="user-name"><strong>{{ request.user.username }}</strong></a>
                </div>
            </div>
            <nav id="left-sidebar-nav" class="sidebar-nav">
                <ul id="main-menu" class="metismenu">
                    <li class="header">Notification</li>
                    <li><a href="{% url 'mesg_list' %}"><i class="icon-envelope"></i> <span>Message</span>
                        {% if mesg_num != 0 %}
                        <span class="badge badge-default float-right mr-0">{{ mesg_num }}</span>
                        {% endif %}
                    </a></li>
                    <li class="header">Groups</li>
                    <li><a href="{% url 'group_list' %}"><i class="icon-users"></i> <span>All Groups</span></a></li>
                    <li class="header">Experiments</li>
                    <li><a href="{% url 'exps_list' %}"><i class=" icon-chemistry"></i> <span>Experiments</span></a></li>
                    <li><a href="{% url 'diff_list' %}"><i class="icon-bar-chart"></i> <span>Comparisons</span></a></li>
                    <li><a href="/new_diff"><i class="icon-directions"></i> <span>Create Comparison</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div id="main-content">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-md-6 col-sm-12">
                    <h1>Comparisons</h1>
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <div class="row clearfix">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-hover table-custom spacing8">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th>Update1</th>
                                    <th>Update2</th>
                                    <th>Info</th>
                                    <th>Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if diff %}
                                    {% for one_diff in diff %}
                                        <tr>
                                            <td><a>{{ one_diff.0 }}</a></td>
                                            <td><span>{{ one_diff.1 }}</span></td>
                                            <td><span>{{ one_diff.2 }}</span></td>
                                            <td><span>{{ one_diff.4 }}</span></td>
                                            <td>{{ one_diff.3 }}</td>
                                            <td>
                                                <a href="{% url 'diff_view' one_diff.0 %}" class="btn btn-primary btn-sm">View</a>
                                                <a href="{% url 'diff_delete' one_diff.0 %}" class="btn btn-danger btn-sm">Delete</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td><span>N/A</span></td>
                                        <td><span>N/A</span></td>
                                        <td><span>N/A</span></td>
                                        <td><span>None Visible Comparison</span></td>
                                        <td><span>N/A</span></td>
                                        <td>
                                            <button disabled="disabled" class="btn btn-primary btn-sm">N/A</button>
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Javascript -->
<script src="{% static 'assets/bundles/libscripts.bundle.js' %}"></script>
<script src="{% static 'assets/bundles/vendorscripts.bundle.js' %}"></script>
<script src="{% static 'assets/bundles/mainscripts.bundle.js' %}"></script>
<script src="{% static 'assets/vendor/toastr/toastr.js' %}"></script>

<!--notification popup-->
{% if warning %}
    {% if w_type is 1 %}
        <script>
        $(function(){
            toastr.options.closeButton = true;
            toastr.options.positionClass = 'toast-bottom-right';
            toastr.options.showDuration = 2000;
            toastr['success']('{{warning}}');
        });
        </script>
    {% else %}
        <script>
        $(function(){
            toastr.options.closeButton = true;
            toastr.options.positionClass = 'toast-bottom-right';
            toastr.options.showDuration = 2000;
            toastr['error']('{{warning}}');
        });
        </script>
    {% endif %}
{% endif %}

</body>
</html>
