{% load static %}
{% load my_tags %}
<!doctype html>
<html lang="en">

<head>
    <title>DB2020 | Page Experiment</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Final homework of DB2020">
    <meta name="author" content="DB2020">

    <link rel="icon" href="{% static favicon.png %}" type="image/x-icon">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendor/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendor/animate-css/vivify.min.css' %}">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="{% static '/assets/css/site.css' %}">
    <!-- SELECT CSS -->
    <link rel="stylesheet" href="{% static '/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendor/bootstrap-colorpicker/css/bootstrap-colorpicker.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendor/multi-select/css/multi-select.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css' %}">
    <link rel="stylesheet" href="{% static '/assets/vendor/nouislider/nouislider.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendor/toastr/toastr.min.css' %}">

</head>
<body class="theme-blush social box_layout particles_js">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="{% static 'assets/images/icon.svg' %}" width="40" height="40" alt="Brego"></div>
        <p>Please wait...</p>
    </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay"></div>

<div id="wrapper">

    <nav class="navbar navbar-fixed-top">
        <div class="container">

            <div class="navbar-left">
                <div class="navbar-btn">
                    <a href="{% url 'main' %}">
                        <img src="{% static 'assets/images/icon.svg' %}" alt="Brego Logo" class="img-fluid logo">
                        <span><strong>HOME</strong></span>
                    </a>
                </div>
            </div>

            <div class="navbar-right">
                <div id="navbar-menu">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'sign_out' %}" class="icon-menu"><i class="icon-power"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div id="main-content">
        <div class="container">
            <div class="block-header">
                <div class="row clearfix">
                    <div class="col-md-6 col-sm-12">
                        <h1>Experiment</h1>
                    </div>

                </div>
            </div>

            <div class="row clearfix">
                <div class="col-md-12">
                    <div class="card">
                        <div class="profile-header d-flex justify-content-between justify-content-center">
                            <div class="d-flex">
                                <div class="mr-3">
                                    <img src="{% static img_exp_builder %}" class="rounded" alt="">
                                </div>
                                <div class="details">
                                    <h5 class="mb-0">{{ exp_name }}</h5>
                                    <span class="text-light">{{ exp_builder }}</span>
                                    <p class="mb-0">
                                        <span><strong>{{ exp_intro }} </strong></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <ul class="nav nav-tabs3 mt-2">
                            {% if vis_upd %}
                                <li class="nav-item"><a class="nav-link {{ a_exp }}" data-toggle="tab"
                                                        href="#Experiment">Experiment</a>
                                </li>
                            {% endif %}

                            {% if vis_diff %}
                                <li class="nav-item"><a class="nav-link {{ a_cmp }}" data-toggle="tab" href="#Contrast">Contrast</a>
                                </li>
                            {% endif %}

                            <li class="nav-item"><a class="nav-link {{ a_my_upd }}" data-toggle="tab" href="#My_Update">My
                                Update</a>
                            </li>
                            <li class="nav-item"><a class="nav-link {{ a_my_iss }}" data-toggle="tab" href="#My_Issue">My
                                Issue</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="tab-content col-md-12">
                    {% if vis_upd %}
                        <div class="tab-pane vivify fadeIn delay-100 {{ a_exp }}" id="Experiment">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="card">

                                        <div class="multiselect_div ">
                                            <select id="single-selection" name="single_selection"
                                                    class="multiselect multiselect-custom exp_upd_select">
                                                {% for i in upds %}
                                                    <option value="{{ i.upd_id }}"
                                                            {% if i.name == my_upd.name %} selected {% endif %}
                                                            class="exp_upd_option">{{ i.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="body">
                                            <div class="d-flex mb-3">
                                                <div class="icon bg-transparent">
                                                    <img src="{% static img_updater %}" class="rounded mr-3 w40"
                                                         alt="">
                                                </div>
                                                <div>
                                                    <h6 class="mb-0">{{ updater }}</h6>
                                                    <small>{{ update_time }}</small>
                                                </div>
                                            </div>

                                            <div class="content">
                                                {% for i in img_update %}
                                                    <img class="img-fluid rounded" src="{% static i %}" alt="img">
                                                {% endfor %}
                                                <h5 class="mt-3">{{ update_name }}</h5>
                                                <span>{{ update_intro }}</span>
                                            </div>
                                        </div>

                                        <div class="card-footer">

                                            <a href="#" class="mr-3"><i class="icon-bubbles"></i> {{ num_comment }}
                                                Comments
                                            </a>

                                        </div>
                                    </div>

                                    <div class="timeline">
                                        {% for i in comments %}
                                            <div class="timeline-item green vivify fadeIn">
                                                <img src="{% static i.avatar %}" data-toggle="tooltip"
                                                     data-placement="top" title="Avatar Name" alt="Avatar"
                                                     class="w35 h35 rounded-circle">

                                                <div class="d-flex align-items-center justify-content-between">
                                                    <span>{{ i.commenter_name }}</span>
                                                    <small>{{ i.create_date }}</small>
                                                </div>

                                                <div class="msg">
                                                    <p>{{ i.info }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <div class="card">
                                        <div class="body">
                                            <div class="d-flex mb-3">
                                                <div class="icon bg-transparent">
                                                    <img src="{% static img_current_user %}" class="rounded mr-3 w40"
                                                         alt="">
                                                </div>
                                                <div>
                                                    <h6 class="mb-0">{{ current_user }}</h6>
                                                    <span>{{ current_user_info }}</span>
                                                </div>
                                            </div>


                                            <form action="{{ comment_url }}" method="post">
                                                {% csrf_token %}
                                                <div class="form-group">
                                            <textarea rows="4" class="form-control no-resize" name="cmt_upd"
                                                      placeholder="Please type your comment..."></textarea>
                                                </div>
                                                <div class="align-right">
                                                    <button class="btn btn-primary">Post</button>
                                                </div>
                                            </form>

                                        </div>

                                    </div>


                                </div>
                            </div>

                        </div>
                    {% endif %}

                    {% if vis_diff %}
                        <div class="tab-pane vivify fadeIn delay-100 {{ a_cmp }}" id="Contrast">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="card">

                                        <div class="multiselect_div">
                                            <select id="single-selection" name="single_selection"
                                                    class="multiselect multiselect-custom exp_diff_select ">
                                                {% for i in diffs %}
                                                    <option value="{{ i.id }}"
                                                            {% if i.name == my_diff.name %} selected {% endif %}
                                                    >{{ i.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="body">
                                            <div class="d-flex mb-3">
                                                <div class="icon bg-transparent">
                                                    <img src="{% static img_diff_updater %}" class="rounded mr-3 w40"
                                                         alt="">
                                                </div>
                                                <div>
                                                    <h6 class="mb-0">{{ diff_updater }}</h6>
                                                    <small>{{ diff_time }}</small>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <ul class="accordion2">
                                                    <li class="accordion-item bg-blue text-light">
                                                        <!-- <li class="accordion-item bg-blue text-light is-active"> -->
                                                        <h3 class="accordion-thumb"><span>{{ diff1 }}</span></h3>
                                                        <p class="accordion-panel">
                                                            {{ intro1 }}
                                                        </p>
                                                    </li>

                                                    <li class="accordion-item bg-pink text-light">
                                                        <h3 class="accordion-thumb"><span>{{ diff2 }}</span></h3>
                                                        <p class="accordion-panel">
                                                            {{ intro2 }}
                                                        </p>
                                                    </li>

                                                </ul>


                                                {% for i in diff_imgs %}
                                                    <img class="img-fluid rounded" src="{% static i %}" alt="img">
                                                {% endfor %}
                                                <h5 class="mt-3">{{ diff_title }}</h5>
                                                <span>{{ diff_intro }}</span>
                                            </div>
                                        </div>

                                        <div class="card-footer">
                                            <a href="#" class="mr-3"><i
                                                    class="icon-bubbles"></i> {{ num_diff_comments }}
                                                Comments </a>

                                        </div>
                                    </div>


                                    <div class="timeline">
                                        {% for i in comment_diff %}
                                            <div class="timeline-item green vivify fadeIn">
                                                <img src="{% static i.avatar %}" data-toggle="tooltip"
                                                     data-placement="top" title="Avatar Name" alt="Avatar"
                                                     class="w35 h35 rounded-circle">

                                                <div class="d-flex align-items-center justify-content-between">
                                                    <span>{{ i.commenter_name }}</span>
                                                    <small>{{ i.create_date }}</small>
                                                </div>

                                                <div class="msg">
                                                    <p>{{ i.info }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <div class="card">
                                        <div class="body">
                                            <div class="d-flex mb-3">
                                                <div class="icon bg-transparent">
                                                    <img src="{% static img_current_user %}" class="rounded mr-3 w40"
                                                         alt="">
                                                </div>
                                                <div>
                                                    <h6 class="mb-0">{{ current_user }}</h6>
                                                    <span>{{ current_user_info }}</span>
                                                </div>
                                            </div>
                                            <form action="{{ comment_cmp_url }}" method="post">
                                                {% csrf_token %}
                                                <div class="form-group">

                                            <textarea rows="4" class="form-control no-resize" name="cmt_cmp"
                                                      placeholder="Please type your comment..."></textarea>
                                                </div>
                                                <div class="align-right">
                                                    <button class="btn btn-primary">Post</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    {% endif %}

                    <div class="tab-pane vivify fadeIn delay-100 {{ a_my_iss }}" id="My_Issue">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="card">

                                    <form action="{{ my_iss_url }}" method="post">
                                        {% csrf_token %}
                                        <div class="multiselect_div ">
                                            <select id="single-selection" name="iss_upd"
                                                    class="multiselect multiselect-custom my_upd_select">

                                                {% for i in upds %}
                                                    <option value="{{ i.upd_id }}"
                                                            {% if i.name == my_upd.name %} selected {% endif %}
                                                            class="exp_upd_option">{{ i.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                        <div class="body">
                                            <div class="d-flex mb-3">
                                                <div class="icon bg-transparent">
                                                    <img src="{% static img_current_user %}" class="rounded mr-3 w40"
                                                         alt="">
                                                </div>
                                                <div>
                                                    <h6 class="mb-0">{{ current_user }}</h6>
                                                    <span>{{ current_user_info }}</span>
                                                </div>
                                            </div>

                                            <div class="form-group">

                                            <textarea rows="4" class="form-control no-resize" name="iss"
                                                      placeholder="Please type your issue..."></textarea>
                                            </div>
                                            <div class="align-right">
                                                <button class="btn btn-primary">Post</button>
                                            </div>


                                        </div>
                                    </form>
                                </div>


                            </div>
                        </div>

                    </div>


                    <div class="tab-pane vivify fadeIn delay-100 {{ a_my_upd }}" id="My_Update">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="card">

                                    <div class="body">
                                        <div class="d-flex mb-3">
                                            <div class="icon bg-transparent">
                                                <img src="{% static  img_current_user %}" class="rounded mr-3 w40"
                                                     alt="">
                                            </div>
                                            <div>
                                                <h6 class="mb-0">{{ current_user }}</h6>
                                                <span>{{ current_user_info }}</span>
                                            </div>
                                        </div>

                                        <form action="{{ my_upd_url }}" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label>Update Name</label>
                                                </div>
                                                <div class="form-group">
                                                    <label>
                                                        <input type="text" name="upd_name" datatype="s1-30"
                                                               aria-errormessage="Please input a name for the group, which should be less than 30 characters."
                                                               class="form-control" required>
                                                    </label>
                                                </div>
                                                <div class="form-group">
                                                    <label>Update Introduction</label>
                                                </div>
                                                <textarea rows="4" class="form-control no-resize" name="upd_intro"
                                                          placeholder="Please type your Update..."></textarea>
                                            </div>
                                            <div class="align-right">
                                                <input name="att_img" type="file" id="file1"
                                                       class="form-control input-attachment" multiple="multiple"
                                                       ng-class="button-primary" style="width:180px;display:none;"/>
                                                <button class="btn btn-link add-file" type="button"><i
                                                        class="icon-paper-clip text-muted"></i>
                                                </button>

                                                <button class="btn btn-primary">Post</button>
                                            </div>

                                        </form>
                                    </div>

                                </div>


                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
<div id="particles-js"></div>
<!-- Javascript -->
<script src="{% static '/assets/bundles/libscripts.bundle.js' %}"></script>
<script src="{% static '/assets/bundles/vendorscripts.bundle.js' %}"></script>
<script src="{% static '/assets/vendor/particlesjs/particles.min.js' %}"></script>
<script src="{% static '/assets/bundles/mainscripts.bundle.js' %}"></script>
<script src="{% static '/assets/js/pages/particlesjs.js' %}"></script>

<!-- SELECT Javascript -->
<script src="{% static '/assets/vendor/bootstrap-colorpicker/js/bootstrap-colorpicker.js' %}"></script>
<script src="{% static '/assets/vendor/jquery-inputmask/jquery.inputmask.bundle.js' %}"></script>
<script src="{% static '/assets/vendor/jquery.maskedinput/jquery.maskedinput.min.js' %}"></script>
<script src="{% static '/assets/vendor/multi-select/js/jquery.multi-select.js' %}"></script>
<script src="{% static '/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.js' %}"></script>
<script src="{% static '/assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static '/assets/vendor/bootstrap-tagsinput/bootstrap-tagsinput.js' %}"></script>
<script src="{% static '/assets/vendor/nouislider/nouislider.js' %}"></script>
<script src="{% static '/assets/bundles/mainscripts.bundle.js' %}"></script>
<script src="{% static '/assets/js/pages/forms/advanced-form-elements.js' %}"></script>

<script src="{% static 'assets/vendor/toastr/toastr.js' %}"></script>

<!-- CONTRAST -->
<script>

    selectFile1 = function () {
        $("#file1").trigger("click");
    }

    $(function () {
        // (Optional) Active an item if it has the class "is-active"	
        {#$(".accordion2 > .accordion-item.is-active").children(".accordion-panel").slideDown();#}

        $(".accordion2 > .accordion-item").click(function () {
            // Cancel the siblings
            // $(this).siblings(".accordion-item").removeClass("is-active").children(".accordion-panel").slideUp();
            // Toggle the item
            $(this).toggleClass("is-active").children(".accordion-panel").slideToggle("ease-out");
        });

        $(".add-file").click(function () {
            $("#file1").trigger("click");
        });

        $(".exp_upd_select").change(function () {
            let url = window.location.href;
            let idx = $(this)[0].selectedIndex;
            {#window.location.replace(url + "&upd=" + idx);#}
            let val = $(this)[0].options[idx].getAttribute("value");
            window.location.replace(url + "&new_upd=" + val + "&new_main=exp");
        });

        $(".exp_diff_select").change(function () {
            let url = window.location.href;
            let idx = $(this)[0].selectedIndex;
            let val = $(this)[0].options[idx].getAttribute("value");
            window.location.replace(url + "&new_diff=" + val + "&new_main=cmp");
        });


    });
</script>

</body>
</html>
