{% load static %}
<!doctype html>
<html lang="en">

<head>
<title>DB2020 | Home</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Final homework of DB2020">
<meta name="author" content="DB2020">

<link rel="icon" href="{% static 'favicon.png' %}" type="image/x-icon">
<!-- VENDOR CSS -->
<link rel="stylesheet" href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static '/assets/vendor/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static "/assets/vendor/animate-css/vivify.min.css" %}">

<link rel="stylesheet" href="{% static '/assets/vendor/c3/c3.min.css' %}"/>
<link rel="stylesheet" href="{% static '/assets/vendor/chartist/css/chartist.css' %}">
<link rel="stylesheet" href="{% static '/assets/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css' %}">
<link rel="stylesheet" href="{% static '/assets/vendor/toastr/toastr.min.css' %}">
<link rel="stylesheet" href="{% static '/assets/vendor/jvectormap/jquery-jvectormap-2.0.3.css' %}"/>

<!-- MAIN CSS -->
<link rel="stylesheet" href="{% static '/assets/css/site.css' %}">

</head>
<body class="theme-blush">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="{% static 'assets/images/icon.svg' %}" width="40" height="40" alt="Brego"></div>
        <p>Please wait...</p>
    </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay"></div>

<div id="wrapper">

    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-left">
                <div class="navbar-btn">
                    <a href="{% url 'main' %}"><img src="{% static 'assets/images/icon.svg' %}" alt="Brego Logo"
                                              class="img-fluid logo"></a>
                    <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
                </div>
            </div>

            <div class="navbar-right">
                <div id="navbar-menu">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'sign_out' %}" class="icon-menu"><i class="icon-power"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>


    <div id="left-sidebar" class="sidebar">
        <div class="navbar-brand">
            <a href="{% url 'main' %}"><img src="{% static 'assets/images/icon.svg' %}" alt="Brego Logo"
                                      class="img-fluid logo"><span>DB2020</span></a>
            <button type="button" class="btn-toggle-offcanvas btn btn-sm float-right"><i
                    class="lnr lnr-menu fa fa-chevron-circle-left"></i></button>
        </div>
        <div class="sidebar-scroll">
            <div class="user-account">
                <div class="user_div">
                    <img src="https://via.placeholder.com/140x140" class="user-photo" alt="User Profile Picture">
                </div>
                <div class="dropdown">
                    <span>Welcome,</span>
                    <a class="user-name"><strong>{{ request.user.username }}</strong></a>
                </div>
            </div>
            <nav id="left-sidebar-nav" class="sidebar-nav">
                <ul id="main-menu" class="metismenu">
                    <li class="header">Notification</li>
                    <li><a href="{% url 'mesg_list' %}"><i class="icon-envelope"></i> <span>Message</span>
                        {% if mesg_num != 0 %}
                        <span class="badge badge-default float-right mr-0">{{ mesg_num }}</span>
                        {% endif %}
                    </a></li>
                    <li class="header">Groups</li>
                    <li><a href="{% url 'group_list' %}"><i class="icon-users"></i> <span>All Groups</span></a></li>
                    <li class="header">Experiments</li>
                    <li><a href="{% url 'exps_list' %}"><i class=" icon-chemistry"></i> <span>Experiments</span></a></li>
                    <li><a href="{% url 'diff_list' %}"><i class="icon-bar-chart"></i> <span>Comparisons</span></a></li>
                    <li><a href="/new_diff"><i class="icon-directions"></i> <span>Create Comparison</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div id="main-content">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-md-6 col-sm-12">
                    <h1>Dashboard</h1>
                </div>            
                <div class="col-md-6 col-sm-12 text-right">
                    <div class="inlineblock vivify swoopInTop delay-900 mr-4">Visitors <span id="mini-bar-chart1" class="mini-bar-chart"></span></div>
                    <div class="inlineblock vivify swoopInTop delay-950 mr-4">Visits <span id="mini-bar-chart2" class="mini-bar-chart"></span></div>
                    <div class="inlineblock vivify swoopInTop delay-1000">Chats <span id="mini-bar-chart3" class="mini-bar-chart"></span></div>
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <div class="row clearfix">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="icon-in-bg bg-indigo text-white rounded-circle"><i class="fa fa-briefcase"></i></div>
                                <div class="ml-4">
                                    <span>Total income</span>
                                    <h4 class="mb-0 font-weight-medium">$7,805</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="icon-in-bg bg-azura text-white rounded-circle"><i class="fa fa-credit-card"></i></div>
                                <div class="ml-4">
                                    <span>New expense</span>
                                    <h4 class="mb-0 font-weight-medium">$3,651</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="icon-in-bg bg-orange text-white rounded-circle"><i class="fa fa-users"></i></div>
                                <div class="ml-4">
                                    <span>Daily Visits</span>
                                    <h4 class="mb-0 font-weight-medium">5,805</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div class="icon-in-bg bg-pink text-white rounded-circle"><i class="fa fa-life-ring"></i></div>
                                <div class="ml-4">
                                    <span>Bounce rate</span>
                                    <h4 class="mb-0 font-weight-medium">$13,651</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>Site Visitors</h2>
                            <ul class="header-dropdown dropdown">
                                
                                <li><a href="javascript:void(0);" class="full-screen"><i class="icon-frame"></i></a></li>
                                <li class="dropdown">
                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(0);">Action</a></li>
                                        <li><a href="javascript:void(0);">Another Action</a></li>
                                        <li><a href="javascript:void(0);">Something else</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <div id="world-map-markers" class="jvector-map" style="height: 245px"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div id="slider3" class="carousel vert slide" data-ride="carousel" data-interval="1700">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="card-value float-right text-muted"><i class="wi wi-fog"></i></div>
                                                <h3 class="mb-1">12°C</h3>
                                                <div>London</div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="card-value float-right text-muted"><i class="wi wi-day-cloudy"></i></div>
                                                <h3 class="mb-1">18°C</h3>
                                                <div>New York</div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="card-value float-right text-muted"><i class="wi wi-sunrise"></i></div>
                                                <h3 class="mb-1">37°C</h3>
                                                <div>New Delhi</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div id="slider2" class="carousel vert slide" data-ride="carousel" data-interval="2000">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="card-value float-right text-muted"><i class="icon-drawer"></i></div>
                                                <h3 class="mb-1">302</h3>
                                                <div>Inbox</div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="card-value float-right text-muted"><i class="icon-star"></i></div>
                                                <h3 class="mb-1">21</h3>
                                                <div>Starred</div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="card-value float-right text-muted"><i class="icon-notebook"></i></div>
                                                <h3 class="mb-1">2</h3>
                                                <div>Drafts</div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-value float-right text-muted"><i class="icon-bubbles"></i></div>
                                    <h3 class="mb-1">102</h3>
                                    <div>Messages</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>New Followers</h2>
                        </div>
                        <div class="body">
                            <ul class="right_chat w_followers list-unstyled mb-0">
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://via.placeholder.com/140x140" alt="">
                                            <div class="media-body">
                                                <span class="name">@MelissaMcCoy</span>
                                                <span class="message">Designer, Blogger</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://via.placeholder.com/140x140" alt="">
                                            <div class="media-body">
                                                <span class="name">@Joge Lucky</span>
                                                <span class="message">Java Developer</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://via.placeholder.com/140x140" alt="">
                                            <div class="media-body">
                                                <span class="name">@JuanMartinez</span>
                                                <span class="message">CEO, puffintheme</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://via.placeholder.com/140x140" alt="">
                                            <div class="media-body">
                                                <span class="name">@Folisise Chosielie</span>
                                                <span class="message">Art director, Movie Cut</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="online">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://via.placeholder.com/140x140" alt="">
                                            <div class="media-body">
                                                <span class="name">@LouisHenry</span>
                                                <span class="message">Writter, Mag Editor</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="offline">
                                    <a href="javascript:void(0);">
                                        <div class="media">
                                            <img class="media-object " src="https://via.placeholder.com/45x45" alt="">
                                            <div class="media-body">
                                                <span class="name">@Folisise Chosielie</span>
                                                <span class="message">Art director, Movie Cut</span>
                                                <span class="badge badge-outline status"></span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table header-border table-hover table-custom spacing5">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Product</th>
                                    <th>Popularity</th>
                                    <th>Sales</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="w60">1</th>
                                    <td>Home Decor Range</td>
                                    <td>
                                        <div class="progress progress-xxs">
                                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%;"></div>
                                        </div>
                                    </td>
                                    <td><span class="badge badge-primary">70%</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <td>Bathroom Essentials</td>
                                    <td>
                                        <div class="progress progress-xxs">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%;"></div>
                                        </div>
                                    </td>
                                    <td><span class="badge badge-success">70%</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>3</th>
                                    <td>Disney Princess Pink 18' School Bag</td>
                                    <td>
                                        <div class="progress progress-xxs">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%;"></div>
                                        </div>
                                    </td>
                                    <td><span class="badge badge-dark">70%</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>4</th>
                                    <td>iPhone XS and XS Max</td>
                                    <td>
                                        <div class="progress progress-xxs">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%;"></div>
                                        </div>
                                    </td>
                                    <td><span class="badge badge-danger">70%</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>5</th>
                                    <td>Apple Smartwatches</td>
                                    <td>
                                        <div class="progress progress-xxs">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%;"></div>
                                        </div>
                                    </td>
                                    <td><span class="badge badge-warning">70%</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>               
            </div>

        </div>
    </div>
    
</div>

<!-- Javascript -->
<script src="{% static '/assets/bundles/libscripts.bundle.js' %}"></script>
<script src="{% static '/assets/bundles/vendorscripts.bundle.js' %}"></script>

<script src="{% static '/assets/bundles/jvectormap.bundle.js' %}"></script>
<script src="{% static '/assets/vendor/toastr/toastr.js' %}"></script>

<script src="{% static '/assets/bundles/mainscripts.bundle.js' %}"></script>
<script src="{% static '/assets/js/index.js' %}"></script>
</body>
</html>
