{% load static %}
{% load my_tags %}
<!doctype html>
<html lang="en">

<head>
<title>DB2020 | Home</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Final homework of DB2020">
<meta name="author" content="DB2020">

<link rel="icon" href="{% static 'favicon.png' %}" type="image/x-icon">
<!-- VENDOR CSS -->
<link rel="stylesheet" href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static '/assets/vendor/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static "/assets/vendor/animate-css/vivify.min.css" %}">

<link rel="stylesheet" href="{% static '/assets/vendor/c3/c3.min.css' %}"/>
<link rel="stylesheet" href="{% static '/assets/vendor/chartist/css/chartist.css' %}">
<link rel="stylesheet" href="{% static '/assets/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css' %}">
<link rel="stylesheet" href="{% static '/assets/vendor/toastr/toastr.min.css' %}">
<link rel="stylesheet" href="{% static '/assets/vendor/jvectormap/jquery-jvectormap-2.0.3.css' %}"/>

<!-- MAIN CSS -->
<link rel="stylesheet" href="{% static '/assets/css/site.css' %}">

</head>
<body class="theme-blush">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img src="{% static 'assets/images/icon.svg' %}" width="40" height="40" alt="Brego"></div>
        <p>Please wait...</p>
    </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay"></div>

<div id="wrapper">

    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">

            <div class="navbar-left">
                <div class="navbar-btn">
                    <a href="{% url 'main' %}"><img src="{% static 'assets/images/icon.svg' %}" alt="Brego Logo"
                                              class="img-fluid logo"></a>
                    <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
                </div>
            </div>

            <div class="navbar-right">
                <div id="navbar-menu">
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'sign_out' %}" class="icon-menu"><i class="icon-power"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>


    <div id="left-sidebar" class="sidebar">
        <div class="navbar-brand">
            <a href="{% url 'main' %}"><img src="{% static 'assets/images/icon.svg' %}" alt="Brego Logo"
                                      class="img-fluid logo"><span>DB2020</span></a>
            <button type="button" class="btn-toggle-offcanvas btn btn-sm float-right"><i
                    class="lnr lnr-menu fa fa-chevron-circle-left"></i></button>
        </div>
        <div class="sidebar-scroll">
            <div class="user-account">
                <div class="user_div">
                    <img class="gravatar" src="{{ request.user.email|gravatar_url:50}}" />
                </div>
                <div class="dropdown">
                    <span>Welcome,</span>
                    <a class="user-name"><strong>{{ request.user.username }}</strong></a>
                </div>
            </div>
            <nav id="left-sidebar-nav" class="sidebar-nav">
                <ul id="main-menu" class="metismenu">
                    <li class="header">Notification</li>
                    <li><a href="{% url 'mesg_list' %}"><i class="icon-envelope"></i> <span>Message</span>
                        {% if mesg_num != 0 %}
                        <span class="badge badge-default float-right mr-0">{{ mesg_num }}</span>
                        {% endif %}
                    </a></li>
                    <li class="header">Groups</li>
                    <li><a href="{% url 'group_list' %}"><i class="icon-users"></i> <span>All Groups</span></a></li>
                    <li class="header">Experiments</li>
                    <li><a href="{% url 'exps_list' %}"><i class=" icon-chemistry"></i> <span>Experiments</span></a></li>
                    <li><a href="{% url 'diff_list' %}"><i class="icon-bar-chart"></i> <span>Comparisons</span></a></li>
                    <li><a href="/new_diff"><i class="icon-directions"></i> <span>Create Comparison</span></a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div id="main-content">
        <div class="block-header">
            <div class="row clearfix">
                <div class="col-md-6 col-sm-12">
                    <h1>Dashboard</h1>
                </div>
            </div>
        </div>

        <div class="container-fluid">

            <div class="row clearfix">
                <div class="col-sm-6 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-value float-right text-blue">{{ user_rate }}</div>
                            <h4 class="mb-1">{{ users_new_week }}</h4>
                            <div class="text-muted">New Users in 7 days</div>
                        </div>
                        <div class="card-chart-bg">
                            <div id="chart-bg-users-1" style="height: 60px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-value float-right text-red">{{ group_rate }}</div>
                            <h4 class="mb-1">{{ groups_new_week }}</h4>
                            <div class="text-muted">New Groups in 7 days</div>
                        </div>
                        <div class="card-chart-bg">
                            <div id="chart-bg-users-2" style="height: 60px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-value float-right text-green">{{ exp_rate }}</div>
                            <h4 class="mb-1">{{ exp_new_week }}</h4>
                            <div class="text-muted">New Exps in 7 days</div>
                        </div>
                        <div class="card-chart-bg">
                            <div id="chart-bg-users-3" style="height: 60px"></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-value float-right text-yellow">{{ upd_rate }}</div>
                            <h4 class="mb-1">{{ upd_new_week }}</h4>
                            <div class="text-muted">New Updates</div>
                        </div>
                        <div class="card-chart-bg">
                            <div id="chart-bg-users-4" style="height: 60px"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-4 col-md-12">
                    <div class="card">
                        <div class="header">
                            <h2>Data</h2>
                        </div>
                        <div class="card-body">
                            <div class="row text-center">
                                <div class="col-6 border-right pb-4 pt-4">
                                    <label class="mb-0">Total Users</label>
                                    <h4 class="font-30 font-weight-bold text-col-blue">{{ total_user }}</h4>
                                </div>
                                <div class="col-6 pb-4 pt-4">
                                    <label class="mb-0">Total Groups</label>
                                    <h4 class="font-30 font-weight-bold text-col-blue">{{ total_group }}</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="d-block">Active Users: Users who have logged in during this week <span class="float-right">{{ user_active_rate }}%</span></label>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{ user_active_rate }}%;"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="d-block">Active Groups: Groups which have been updated during this week <span class="float-right">{{ group_active_rate }}</span></label>
                                <div class="progress progress-xxs">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {{ group_active_rate }}%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="card user_statistics">
                        <div class="header">
                            <h2>Weekly :Behavior Report</h2>
                        </div>
                        <div class="card-body">
                            <div id="chart-bar" style="height: 302px"></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row clearfix">
                <div class="header">
                    <h6 id="rank"></h6>
                    <script type="text/javascript">
                        var today=new Date();
                        var month_array=["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
                        var month=today.getMonth() ;
                        document.getElementById("rank").innerHTML="The Most Popular Group on "+month_array[month];
                    </script>
                </div>
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table header-border table-hover table-custom spacing5 table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>GroupName</th>
                                    <th>Info</th>
                                    <th>Updates in this month</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for g in group_dict %}
                                    <tr>
                                        <th class="w60">{{ forloop.counter }}</th>
                                        <td>{{ g.0.name }}</td>
                                        <td>{{ g.0.info }}
                                        <td>{{ g.1 }}</td>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>               
            </div>

        </div>
    </div>
    
</div>

<!-- Javascript -->
<script src="{% static '/assets/bundles/libscripts.bundle.js' %}"></script>
<script src="{% static '/assets/bundles/vendorscripts.bundle.js' %}"></script>
<script src="{% static '/assets/bundles/jvectormap.bundle.js' %}"></script>
<script src="{% static '/assets/vendor/toastr/toastr.js' %}"></script>
<script src="{% static '/assets/bundles/mainscripts.bundle.js' %}"></script>
<script src="{% static '/assets/js/index.js' %}"></script>
<script src="{% static 'assets/bundles/chartist.bundle.js' %}"></script>
<script src="{% static 'assets/js/pages/charts/chartjs.js' %}"></script>
<script src="{% static 'assets/bundles/knob.bundle.js' %}"></script>
<script src="{% static 'assets/bundles/c3.bundle.js' %}"></script>

<script type="text/javascript">
    var user_new_weekly = {{ user_new|safe }};
    var group_new_weekly = {{ group_new|safe }};
    var exp_new_weekly = {{ exp_new|safe }};
    var upd_new_weekly = {{ upd_new|safe }};
    $(function () {
    var week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
    var date = new Array();
    for (var i = 0; i < 7; i++) {
        date[6 - i] = week[(new Date().getDay() - i + 7) % 7]
    }
    "use strict";
    var chart = c3.generate({
        bindto: '#chart-bar', // id of chart wrapper
        data: {
            columns: [
                // each columns data
                ['data1'].concat(group_new_weekly),
                ['data2'].concat(exp_new_weekly),
                ['data3'].concat(upd_new_weekly),
            ],
            type: 'bar', // default type of chart
            colors: {
                'data1': '#467fcf', // blue
                'data2': '#5eba00', // green
                'data3': '#f66d9b', // pink
            },
            names: {
                // name of each serie
                'data1': 'Create Groups',
                'data2': 'Create Exps',
                'data3': 'Create Updates',
            }
        },
        axis: {
            x: {
                type: 'category',
                // name of each category
                categories: date
            },
        },
        bar: {
            width: 16
        },
        legend: {
            show: true, //hide legend
        },
        padding: {
            bottom: 20,
            top: 0
        },
    });
    // Small chart widgets
    var chart = c3.generate({
        bindto: '#chart-bg-users-1',
        padding: {
            bottom: -10,
            left: -1,
            right: -1
        },
        data: {
            names: {
                data1: 'New Users'
            },
            columns: [
                ['data1'].concat(user_new_weekly)
            ],
            type: 'area'
        },
        legend: {
            show: false
        },
        transition: {
            duration: 0
        },
        point: {
            show: false
        },
        tooltip: {
            format: {
                title: function (x) {
                    return '';
                }
            }
        },
        axis: {
            y: {
                padding: {
                    bottom: 0,
                },
                show: false,
                tick: {
                    outer: false
                }
            },
            x: {
                padding: {
                    left: 0,
                    right: 0
                },
                show: false
            }
        },
        color: {
            pattern: ['#467fcf']
        }
    });
    var chart = c3.generate({
        bindto: '#chart-bg-users-2',
        padding: {
            bottom: -10,
            left: -1,
            right: -1
        },
        data: {
            names: {
                data1: 'New Groups'
            },
            columns: [
                ['data1'].concat(group_new_weekly)
            ],
            type: 'area'
        },
        legend: {
            show: false
        },
        transition: {
            duration: 0
        },
        point: {
            show: false
        },
        tooltip: {
            format: {
                title: function (x) {
                    return '';
                }
            }
        },
        axis: {
            y: {
                padding: {
                    bottom: 0,
                },
                show: false,
                tick: {
                    outer: false
                }
            },
            x: {
                padding: {
                    left: 0,
                    right: 0
                },
                show: false
            }
        },
        color: {
            pattern: ['#e74c3c']
        }
    });
    var chart = c3.generate({
        bindto: '#chart-bg-users-3',
        padding: {
            bottom: -10,
            left: -1,
            right: -1
        },
        data: {
            names: {
                data1: 'New Exps'
            },
            columns: [
                ['data1'].concat(exp_new_weekly)
            ],
            type: 'area'
        },
        legend: {
            show: false
        },
        transition: {
            duration: 0
        },
        point: {
            show: false
        },
        tooltip: {
            format: {
                title: function (x) {
                    return '';
                }
            }
        },
        axis: {
            y: {
                padding: {
                    bottom: 0,
                },
                show: false,
                tick: {
                    outer: false
                }
            },
            x: {
                padding: {
                    left: 0,
                    right: 0
                },
                show: false
            }
        },
        color: {
            pattern: ['#5eba00']
        }
    });
    var chart = c3.generate({
        bindto: '#chart-bg-users-4',
        padding: {
            bottom: -10,
            left: -1,
            right: -1
        },
        data: {
            names: {
                data1: 'New Updates'
            },
            columns: [
                ['data1'].concat(upd_new_weekly)
            ],
            type: 'area'
        },
        legend: {
            show: false
        },
        transition: {
            duration: 0
        },
        point: {
            show: false
        },
        tooltip: {
            format: {
                title: function (x) {
                    return '';
                }
            }
        },
        axis: {
            y: {
                padding: {
                    bottom: 0,
                },
                show: false,
                tick: {
                    outer: false
                }
            },
            x: {
                padding: {
                    left: 0,
                    right: 0
                },
                show: false
            }
        },
        color: {
            pattern: ['#f1c40f']
        }
    });
});
</script>

</body>
</html>
